<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextText</title>
    <link rel="stylesheet" href="<%= mix('/css/app.css') %>">
    <script src="<%= mix('/next-js/app.js') %>"></script>
    <%- locals.script || null %>

</head>

<body class="poppins-regular">
    <div class="flex min-h-screen">
        <div class="w-[15%] h-[100vh] bg-slate-900 sticky top-0 text-gray-300">
            <h1
                class="text-center text-gray-50 kaushan-script-regular text-[2.3rem]">
                NextText
            </h1>
            <div class=" bg-gray-50 bg-opacity-25 h-[0.1px]"></div>
            <div class="px-3 mt-3 space-y-2">
                <div class="flex items-center gap-2 text-gray-100 font-bold">
                    <h2>Dashboard</h2>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25A2.25 2.25 0 0 1 13.5 18v-2.25Z" />
                        </svg>
                    </div>
                </div>
                <ul class="font-bold text-sm">
                    <li
                        class="flex items-center space-x-3 py-2 px-3 <%= pathName === '/dashboard' && 'bg-emerald-400 text-gray-50' %> rounded-md">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                        </svg>
                        <a href="/dashboard" class="text-md">Home</a>
                    </li>
                    <li
                        class="flex rounded-md items-center space-x-3 py-2 px-3 <%= pathName.includes('/sites') && 'bg-emerald-400 text-gray-50' %>">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.25 9.75 16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
                        </svg>
                        <a href="/sites" class=" text-md">
                            Web Site</a>
                    </li>
                    <li
                        class="flex rounded-md items-center space-x-3 py-2 px-3 <%= pathName.includes('/keywords') && 'bg-emerald-400 text-gray-50 ' %>">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 0 1 9 14.437V9.564Z" />
                        </svg>

                        <a href="/keywords" class=" text-md">Keyword</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex-1 p-3 bg-slate-100">
            <div
                class="px-4 border-gray-200 py-2 flex justify-between bg-white rounded-md items-center border">
                <div>
                    <!-- <h2 class="text-white text-2xl">Dasboard</h2> -->
                </div>
                <div class="flex items-center space-x-3">
                    <div
                        class="w-8 h-8 rounded-full border bg-emerald-500 flex justify-center items-center">
                        <span class="text-white text-sm">W</span>
                    </div>
                    <div>
                        <!-- content -->
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>